#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
hr {
    height: 3px;
}
hr.red {
    color: #f00;
    background-color: #f00;
}
hr.gold {
    color: #FFC819;
    background-color: #FFC819;
}
p {
    padding: 0;
    margin: 0;
}
h2 {
    font: 1.7em georgia;
    margin-bottom: 0px;
}
#bucky-pic {
}
#bucky {
}
#info-pic {
    float: left;
}
#info-desc {
    margin-bottom: 4px;
    padding-bottom: 1px;
    font: 1em georgia;
}
#info-title {
    text-align: right;
    padding-bottom: 0;
    padding-top: 0;
}
