#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
hr {
    color: #f00;
    background-color: #f00;
    height: 5px;
}
p {
    padding: 0;
    margin: 0;
}
h2 {
    font: 2em georgia;
    margin-bottom: 0px;
}
#bucky-pic {
}
#bucky {
}
#info-pic {
    float: left;
}
#info-desc {
    margin-bottom: 5px;
    padding-bottom: 2px;
    font: 1.1em georgia;
}
#info-title {
    text-align: right;
    padding-bottom: 0;
    padding-top: 0;
}
